@page "/login"
@inject HttpClient Http
@inject NavigationManager Nav

<EditForm OnValidSubmit="HandleLogin">
    <InputText @bind-Value="email" />
    <InputText @bind-Value="password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    string email = "";
    string password = "";
    string? errorMessage;

    async Task HandleLogin()
    {
        var form = new FormUrlEncodedContent(new[]
        {
            new KeyValuePair<string,string>("email", email),
            new KeyValuePair<string,string>("password", password)
        });

        var res = await Http.PostAsync("/auth/login", form);

        if (res.IsSuccessStatusCode)
            Nav.NavigateTo("/", true);
        else
            errorMessage = "Login incorrecto";
    }
}
