@page "/books"
@attribute [Authorize]

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using PandaList.Models
@using PandaList.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Nav



<h3>Books</h3>

@if (isLoading)
{
    <p>Loanding....</p>
}
else
{
    <button class="btn btn-primary mb-3" @onclick="OpenModal">Add New Book</button>

    @if (!books.Any())
    {
        <p>No books yet.</p>
    }
    else
    {
        <table class="table table table-striped">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date read</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var book in books)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@(book.ReadDate?.ToString("yyyy-MM-dd") ?? "-")</td>
                        <td>
                            <button class="btn btn-danger btn-sm" @onclick="() => Delete(book.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>



        </table>
    }

}

@if (showModal)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">

        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-header">
                    <h5 class="modal-title">Add New Book</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>


                <div class="modal-body">

                    <EditForm Model="newBook" OnValidSubmit="Save">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <InputText class="form-control" @bind-Value="newBook.Title" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Author</label>
                            <InputText class="form-control" @bind-Value="newBook.Author" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Read Date</label>
                            <InputDate class="form-control" @bind-Value="newBook.ReadDate" />
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>

                    </EditForm>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>

}


@code {
    private List<Book> books = new();
    private bool isLoading = true;
    private bool showModal = false;
    private Book newBook = new();
    private string userId = "";

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthProvider.GetAuthenticationStateAsync();
        var user = auth.User;
        if (user.Identity is not { IsAuthenticated: true })
        {
            Nav.NavigateTo("/login");
            return;
        }
        userId = user.FindFirst(c => c.Type.EndsWith("nameidentifier"))?.Value ?? "";
        books = await Db.Books.Where(f => f.UserId == userId).ToListAsync();
        isLoading = false;
    }


    private void OpenModal()
    {
        newBook = new Book();
        showModal = true;
    }

    private void CloseModal() => showModal = false;


    async Task Save()
    {
        newBook.UserId = userId;
        Db.Books.Add(newBook);
        await Db.SaveChangesAsync();
        books.Insert(0, newBook);
        showModal = false;
    }

    async Task Delete(int id)
    {
        var libro = await Db.Books.FindAsync(id);
        if (libro != null && libro.UserId == userId)
        {
            Db.Books.Remove(libro);
            await Db.SaveChangesAsync();
            books.Remove(libro);
        }
    }
}