@page "/series"	
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using PandaList.Models
@using PandaList.Data
@inject AppDbContext Db
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Nav
@using Microsoft.EntityFrameworkCore



<h3>Series</h3>


@if (isLoading)
{
    <p>Loanding....</p>
}
else
{
    <button class="btn btn-primary mb-3" @onclick="OpenModal">Add New Series</button>

    @if (!series.Any())
    {
        <p>No series yet.</p>
    }
    else
    {
        <table class="table table table-striped">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Seasons</th>
                    <th>Finished</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var serie in series)
                {
                    <tr>
                        <td>@serie.Title</td>
                        <td>@serie.Seasons</td>
                        <td>@(serie.Finished ? "Yes" : "No")</td>
                        <td>
                            <button class="btn btn-danger btn-sm" @onclick="() => Delete(serie.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>



        </table>
    }

}

@if (showModal)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">

        <div class="modal-dialog">

            <div class="modal-content">


                <div class="modal-header">
                    <h5 class="modal-title">Add New Series</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>


                <div class="modal-body">

                    <EditForm Model="newSeries" OnValidSubmit="Save">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <InputText class="form-control" @bind-Value="newSeries.Title" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Seasons</label>
                            <InputNumber class="form-control" @bind-Value="newSeries.Seasons" />
                        </div>
                        <div class="form-check">
                            <InputCheckbox id="fin" class="form-check-input" @bind-Value="newSeries.Finished" />
                            <label for="fin" class="form-check-label">Finished</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>

                    </EditForm>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>

}






@code {
    private List<PandaList.Models.Series> series = new();
    private bool isLoading = true;
    private bool showModal = false;
    private PandaList.Models.Series newSeries = new();
    private string userId = "";

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthProvider.GetAuthenticationStateAsync();
        var user = auth.User;
        if (user.Identity is not { IsAuthenticated: true })
        {
            Nav.NavigateTo("/login");
            return;
        }
        userId = user.FindFirst(c => c.Type.EndsWith("nameidentifier"))?.Value ?? "";
        series = await Db.Series.Where(f => f.UserId == userId).ToListAsync();
        isLoading = false;
    }


    private void OpenModal()
    {
        newSeries = new PandaList.Models.Series();
        showModal = true;
    }

    private void CloseModal() => showModal = false;


    async Task Save()
    {
        newSeries.UserId = userId;
        Db.Series.Add(newSeries);
        await Db.SaveChangesAsync();
        series.Insert(0, newSeries);
        showModal = false;
    }

    async Task Delete(int id)
    {
        var serie = await Db.Series.FindAsync(id);
        if (serie != null && serie.UserId == userId)
        {
            Db.Series.Remove(serie);
            await Db.SaveChangesAsync();
            series.Remove(serie);
        }
    }
}
